// ==============================================
// STAT CARD COMPONENT
// ==============================================

@use '../variables' as *;
@use '../mixins' as *;

.stat-card {
	@include card;
	padding: 30px;
	border: 1px solid rgba($color-blue, 0.06);

	&__icon {
		@include flex-center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-bottom: 14px;

		&--pink {
			background-color: $card-pink-bg;
			color: $card-pink;
		}

		&--purple {
			background-color: $card-purple-bg;
			color: $card-purple;
		}

		&--orange {
			background-color: $card-orange-bg;
			color: $card-orange;
		}

		&--red {
			background-color: $card-red-bg;
			color: $card-red;
		}
	}

	&__label {
		font-size: 14px;
		font-weight: 500;
		color: $color-slate-blue;
		text-transform: uppercase;
		margin-bottom: 12px;
	}

	&__value {
		font-size: 24px;
		font-weight: 600;
		color: $color-blue;
	}
}
