// ==============================================
// DASHBOARD PAGE
// ==============================================

@use '../variables' as *;
@use '../mixins' as *;

.dashboard-page {
	animation: fade-in 500ms ease-out forwards;

	&__welcome {
		@include flex-column;
		@include flex-center;
		min-height: 50vh;
		text-align: center;
	}

	&__title {
		font-size: 24px;
		font-weight: 500;
		color: $color-blue;
		margin-bottom: 16px;
	}

	&__subtitle {
		font-size: 16px;
		color: rgba($color-slate-blue, 0.8);
	}
}
